html,
body {
  margin: 0;
  padding: 0;
  background: #f2f4f6;
  font-family: sans-serif;
  font-size: 14px;
}
code {
  background: #f9f2f4;
  color: #c7254e;
  padding: 0 4px;
}
a,
a:visited {
  color: #2196f3;
}
[disabled] {
  cursor: not-allowed;
}
.demo-root {
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 1em 2em;
  position: relative;
  width: 100%;
}
.demo-root .statistics img {
  margin-right: 8px;
}
.demo-root blockquote {
  margin: 0 0 1em;
  line-height: 24px;
}
.demo-root .diff-config form,
.demo-root .view-config form {
  overflow: hidden;
}
.demo-root .diff-config form > label,
.demo-root .view-config form > label {
  display: flex;
  align-items: center;
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 4px;
  user-select: none;
  font-weight: bold;
  background: #e5e6e9;
}
.demo-root .diff-config form > label span,
.demo-root .view-config form > label span {
  font-weight: normal;
  margin-left: 1em;
}
.demo-root .diff-config form > label input,
.demo-root .view-config form > label input,
.demo-root .diff-config form > label select,
.demo-root .view-config form > label select {
  margin-left: 8px;
}
.demo-root .diff-config form > label input[type=number],
.demo-root .view-config form > label input[type=number] {
  min-width: 8em;
}
.demo-root .diff-result .json-diff-viewer {
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em;
}
.demo-root .demo-footer {
  border-top: 1px dashed;
  margin: 4em 0 0;
  padding: 2em 0;
  text-align: center;
}
.toolbox .toggle {
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 1em;
  user-select: none;
  cursor: pointer;
}
.toolbox .toggle:hover {
  text-decoration: underline;
}
.toolbox .inputs {
  display: flex;
  align-content: stretch;
  width: 100%;
}
.toolbox .inputs textarea {
  border-radius: 4px;
  flex: 1 1 auto;
  height: 300px;
  resize: vertical;
  padding: 1em;
}
.toolbox button {
  margin: 1em 1em 0 0;
  padding: 0.5em;
}
.toolbox .error {
  color: red;
  font-size: 14px;
}
.toolbox .viewer {
  border: 1px solid;
  border-radius: 4px;
  margin-top: 1em;
  padding: 1em;
}
.toolbox hr {
  border: none;
  border-top: 1px solid;
  margin: 2em 0;
}
.json-diff-viewer {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
.json-diff-viewer tr {
  vertical-align: top;
}
.json-diff-viewer tr .line-add {
  background: #a5d6a7;
}
.json-diff-viewer tr .line-remove {
  background: #ef9a9a;
}
.json-diff-viewer tr .line-modify {
  background: #ffe082;
}
.json-diff-viewer tr:hover td {
  position: relative;
}
.json-diff-viewer tr:hover td::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  content: '';
  pointer-events: none;
}
.json-diff-viewer tr.expand-line {
  text-align: center;
}
.json-diff-viewer tr.expand-line td {
  padding: 4px 0;
}
.json-diff-viewer tr.expand-line:hover td:before {
  background: transparent;
}
.json-diff-viewer tr.expand-line .has-lines-before {
  border-bottom: 1px solid;
}
.json-diff-viewer tr.expand-line .has-lines-after {
  border-top: 1px solid;
}
.json-diff-viewer tr.expand-line button {
  margin: 0 0.5em;
  padding: 0;
  color: #2196f3;
  font-family: sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 12px;
  border: none;
  background: transparent;
  user-select: none;
  cursor: pointer;
}
.json-diff-viewer tr.expand-line button:hover {
  text-decoration: underline;
}
.json-diff-viewer td.line-number {
  border-right: 1px solid;
  box-sizing: content-box;
  font-family: monospace;
  padding: 0 8px;
  text-align: right;
  user-select: none;
}
.json-diff-viewer pre {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
}
.json-diff-viewer pre .inline-diff-add {
  background: rgba(0, 0, 0, 0.08);
  text-decoration: underline;
  word-break: break-all;
}
.json-diff-viewer pre .inline-diff-remove {
  background: rgba(0, 0, 0, 0.08);
  text-decoration: line-through;
  word-break: break-all;
}
