.json-diff-viewer {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  tr {
    vertical-align: top;

    .line-add {
      background: #a5d6a7;
    }

    .line-remove {
      background: #ef9a9a;
    }

    .line-modify {
      background: #ffe082;
    }

    &:hover td {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.05);
        content: '';
        pointer-events: none;
      }
    }
  }

  td {
    &.line-number {
      border-right: 1px solid;
      box-sizing: content-box;
      font-family: monospace;
      padding: 0 8px;
      text-align: right;
      user-select: none;
    }
  }

  pre {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
