.json-diff-viewer.json-diff-viewer-theme-monokai {
  background: #272822;
  color: #f8f8f2;

  .line-number {
    color: #999;
  }

  tr {
    &:hover {
      background: #3e3d32;
    }

    .line-add {
      background: #040;
    }

    .line-remove {
      background: #400;
    }

    .line-modify {
      background: #440;
    }

    &.expand-line button {
      color: #f8f8f2;
    }
  }

  .string {
    color: #e6db74;
  }

  .number,
  .boolean,
  .null {
    color: #ae81ff;
  }

  .key {
    color: #f92672;
  }

  .invalid {
    background: #960050;
    color: #fff;
  }
}
